<meta name="author" content="Leonardo Foletto">
<meta name="keywords" content="antipropiedad,copyleft,copyright,cultura libre,derecho de autor,derechos de autor">
<meta name="description" content="Libro pri la rezisto kontraŭ la limigojn al la kulturo, politike, sociologie, antropologie kaj historie traktita.">
<link rel="alternate" hreflang="es" href="https://freakspot.net/libro/la-cultura-es-libre/la-cultura-es-libre.html">
<link rel="license" hreflang="es" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es">
<link rel="icon" href="bildoj/Copyleft.svg">
<meta property="og:title" content="La kulturo estas libera: historio de la kontraŭproprieta rezisto">
<meta property="og:type" content="book">
<meta property="book:author" content="Leonardo Foletto">
<meta property="og:image" content="bildoj/imagen-portada-cultura-libre.png">
<meta property="og:url" content=".">
<meta property="og:description" content="Libro pri la rezisto kontraŭ la limigojn al la kulturo, politike, sociologie, antropologie kaj historie traktita.">
